<!DOCTYPE html>
<html lang="en">

<head>
    <title>dStream</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        body {
            overflow: hidden;
        }

        .hud {

            height: 100%;
            width: 100%;
        }

        .controls {
            width: auto;
        }

        .top-row {
            height: 8vh;
            width: 100%;
        }

        .middle-row {
            height: 80vh;
            overflow-y: scroll;
        }

        .bottom-row {
            height: 12vh;
        }

        .volume-slider {
            max-width: 100px;
        }


        .scroll::-webkit-scrollbar {
            width: 15px;
        }

        .scroll::-webkit-scrollbar-track {
            background: #202020;
            border-left: 1px solid #2c2c2c;
        }

        .scroll::-webkit-scrollbar-thumb {
            background: #3e3e3e;
            border: solid 3px #202020;
            border-radius: 7px;
        }

        .scroll::-webkit-scrollbar-thumb:hover {
            background: gray;
        }

        .no-scroll::-webkit-scrollbar {
            width: 0px;
        }

        .v-slider__track-container {
            height: 4px !important;
        }
    </style>
</head>

<body class="no-scroll">
    <div id="app">
        <v-app>
            <v-main>
                <v-row class=" ma-0 pa-0">

                    <v-card tile class="grey darken-4 top-row d-flex justify-center align-center pl-4">

                        <v-col cols="2" class="d-flex justify-center align-center">
                            <v-img src="/assets/safari-pinned-tab.svg" max-width="35" max-height="35"></v-img>
                            <h3>dStream</h3>
                        </v-col>
                        <v-col class="d-flex justify-space-around">
                            <v-container class="d-flex justify-center align-center">
                                <v-text-field @focus="toggleFocus()" @blur="toggleFocus()" v-model="search" dense
                                    placeholder="Search tracks..." class=" mx-2 mx-md-4" color="green" rounded
                                    hide-details flat filled style="max-width: 450px;">
                                    <template #prepend-inner>
                                        <v-icon class="ml-1 mr-2">
                                            mdi-magnify
                                        </v-icon>
                                    </template>
                                </v-text-field>
                            </v-container>
                        </v-col>
                        <v-col cols="2" class="d-flex justify-end">

                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn class="mr-4" :loading="scanning" v-bind="attrs" v-on="on" @click='scan' icon>
                                        <v-icon>mdi-cached</v-icon>
                                    </v-btn>
                                </template>
                                <span>Scan music folder</span>
                            </v-tooltip>
                        </v-col>


                    </v-card>

                </v-row>
                <v-row class="no-scroll middle-row ma-0 pa-0">
                    <v-col outlined class="black ma-0 pa-0" md="2">
                        <v-container fluid class=" ma-0 pa-0">
                            <v-card class="no-scroll black" elevation="0" tile
                                style="max-height: 80vh; overflow-y: scroll;">

                                <v-card-title>
                                    Now playing
                                </v-card-title>
                                <v-container>
                                    <v-card v-if="this.currentTrack" class="d-flex align-center flex-row black" tile
                                        elevation="0">
                                        <v-col class="ma-0 pa-0" md="3" xl="2">
                                            <v-container class="ma-0 pa-0 pl-4">
                                                <v-img max-width="15" max-height="15" v-if="playing"
                                                    src="assets/equaliser-animated-green.gif"></v-img>
                                                <span class="green--text" v-else> 1 </span>
                                            </v-container>
                                        </v-col>
                                        <v-col class="ma-0 pa-0" md="9" xl="10">
                                            <v-container
                                                class="pa-0 ma-0 pt-2 pb-2 d-flex flex-column align-center justify-start">
                                                <v-container class="green--text pa-0 ma-0">{{currentTrack.title}}
                                                </v-container>
                                                <v-container class="grey--text text-caption pa-0 ma-0">
                                                    {{currentTrack.artistName}}</v-container>
                                            </v-container>
                                        </v-col>
                                    </v-card>
                                    <span v-else class="pl-4 grey--text text-caption ">No track playing</span>
                                </v-container>
                                <v-divider></v-divider>
                                <v-card-title>
                                    Next in queue
                                </v-card-title>
                                <v-container>

                                    <span v-if="!this.queue.length" class="pl-4 grey--text text-caption ">No tracks in
                                        queue</span>
                                    <v-card v-else class="pa-0 ma-0 d-flex justify-center align-center flex-row black"
                                        tile elevation="0" v-for="track in queue" :key="track.id">
                                        <v-col class="ma-0 pa-0" md="3" xl="2">
                                            <v-container class="ma-0 pa-0 pl-4">{{queue.indexOf(track) + 2}}
                                            </v-container>
                                        </v-col>
                                        <v-col class="ma-0 pa-0" md="9" xl="10">
                                            <v-container
                                                class="pa-0 ma-0 pt-2 pb-2 d-flex flex-column align-center justify-start">
                                                <v-container class="white--text pa-0 ma-0">{{track.title}}</v-container>
                                                <v-container class="grey--text text-caption pa-0 ma-0">
                                                    {{track.artistName}}</v-container>
                                            </v-container>
                                        </v-col>
                                    </v-card>

                                </v-container>
                            </v-card>
                        </v-container>
                    </v-col>
                    <v-col class="ma-0 pa-0" md="10">

                        <v-container fluid class="scroll ma-0 pa-0" style="max-height: 80vh; overflow-y: scroll;">
                            <v-data-table item-key="id" :dense="dense" :page="page" class="grey--text"
                                :headers="tableHeaders" :items="list" :items-per-page="-1" @update:page="updatePage"
                                @current-items="updateCurrentList" @page-count="updateTotalPages"
                                @click:row="handleClick" @contextmenu:row="handleRightClick">
                                <template v-slot:item.title="{ item }">
                                    <v-container
                                        class="pa-0 ma-0 pt-2 pb-2 d-flex flex-column align-center justify-start">
                                        <v-container
                                            :class="currentTrack.title == item.title ? 'green--text pa-0 ma-0' : 'white--text pa-0 ma-0'">
                                            {{item.title}}</v-container>
                                        <v-container class="grey--text text-caption pa-0 ma-0">{{item.artistName}}
                                        </v-container>
                                    </v-container>
                                </template>

                                <template v-slot:item.id="{ item }">
                                    <v-img max-width="15" max-height="15" v-if="currentTrack == item && playing"
                                        src="assets/equaliser-animated-green.gif"></v-img>
                                    <span :class="currentTrack == item ? 'green--text' : ''"
                                        v-else>{{currentList.indexOf(item) + 1}}</span>
                                </template>

                            </v-data-table>
                        </v-container>
                    </v-col>

                </v-row>
                <v-row class="bottom-row ma-0 pa-0">

                    <v-card elevation="5" class="grey darken-4 hud d-flex flex-row align-center justify-center">
                        <v-col sm="3" class="pa-0 pl-3 ma-0 d-flex flex-column align-center justify-center">
                            <v-container class="pb-0 pt-0">{{currentTrack.title}}</v-container>
                            <v-container class="grey--text text-caption pb-0 pt-0">{{currentTrack.artistName}}
                            </v-container>
                        </v-col>
                        <v-col class="pa-0 ma-0" sm="6">

                            <v-container class="controls pa-0 ma-0">

                                <v-row justify="center" align="center" no-gutters>

                                    <v-btn :color="shuffle ? 'green' : undefined" @click='toggleShuffle' icon>
                                        <v-icon small>mdi-shuffle-variant</v-icon>
                                    </v-btn>



                                    <v-btn @click='playPrevious' icon>
                                        <v-icon medium>mdi-skip-previous</v-icon>
                                    </v-btn>



                                    <v-btn @click='togglePlay' icon>
                                        <v-icon x-large>{{playing ? 'mdi-pause-circle' : 'mdi-play-circle'}}</v-icon>
                                    </v-btn>


                                    <v-btn @click='playNext' icon>
                                        <v-icon medium>mdi-skip-next</v-icon>
                                    </v-btn>


                                    <v-btn @click='toggleRepeat' :color="repeat ? 'green' : undefined" icon>
                                        <v-icon small>{{repeatSong ? 'mdi-repeat-once' : 'mdi-repeat'}}</v-icon>
                                    </v-btn>
                                </v-row>
                            </v-container>

                            <v-container class=" ma-0 pa-0">

                                <v-row justify="center" no-gutters>
                                    <v-col class="d-flex justify-center align-center" sm="1">
                                        <v-card class="grey darken-4 grey--text text-caption text-center align-center"
                                            elevation="0">
                                            {{currentTime ? currentTime : "0:00"}}
                                        </v-card>
                                    </v-col>
                                    <v-col class="" sm="10">
                                        <v-card flat>
                                            <v-hover v-slot="{hover}">
                                                <v-slider class="grey darken-4" @mousedown="md" @mouseup="mu"
                                                    hide-details :track-fill-color="hover ? 'green' : 'white'"
                                                    :color="hover ? 'white' : 'transparent'" max="1000" min="0"
                                                    v-model="progress">
                                                </v-slider>
                                            </v-hover>
                                        </v-card>
                                    </v-col>
                                    <v-col class="d-flex justify-center align-center" sm="1">
                                        <v-card class="grey darken-4 grey--text text-caption text-center align-center"
                                            elevation="0">
                                            {{currentTrack.duration ? currentTrack.duration : "0:00"}}
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-col>
                        <v-col sm="3" class="d-flex justify-center align-center">
                            <v-container class="d-flex justify-end align-center">
                                <v-btn @click="toggleSound" icon>
                                    <v-icon small>
                                        {{volume > 66 ? "mdi-volume-high" : volume > 33 ? "mdi-volume-medium" :
                                        volume > 0 ? "mdi-volume-low" : "mdi-volume-mute" }}
                                    </v-icon>
                                </v-btn>
                                <v-hover v-slot="{ hover }">
                                    <v-slider :track-fill-color="hover ? 'green' : 'white'"
                                        :color="hover ? 'white' : 'transparent'" hide-details max="100" min="0"
                                        v-model="volume" class="volume-slider mb-0 pb-0"></v-slider>
                                </v-hover>
                            </v-container>
                        </v-col>
                    </v-card>
                </v-row>
            </v-main>
        </v-app>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="module">
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify({
                theme: { dark: true }
            }),
            data: {
                tracksInQueue: 0,
                repeat: false,
                repeatSong: false,
                userInput: null,
                userTimeInputInProgress: false,
                dense: false,
                page: 1,
                volume: 100,
                lastQuery: null,
                search: '',
                numberOfTracks: 0,
                time: 0,
                lastQuery: [],
                random: false,
                offset: 0,
                queue: [],
                list: [],
                currentList: [],
                tableHeaders: [
                    { text: '#', align: 'start', sortable: false, value: 'id' },
                    { text: 'Title', align: 'start', value: 'title' },
                    { text: 'Album', value: 'albumName' },
                    { text: 'Codec', value: 'codec' },
                    { text: '◷', value: 'duration' },
                ],
                isFocused: false,
                playing: false,
                currentTrack: false,
                audio: new Audio(),
                shuffle: false,
                history: [],
                totalPages: 0,
                scanning: false
            },

            methods: {
                handleRightClick(event, item) {
                    let track = item.item
                    event.preventDefault();
                    if (this.queue.indexOf(track) == -1 && track != this.currentTrack) {
                        console.log(this.queue, track)
                        this.tracksInQueue++
                        this.queue.push(track)
                    }
                },
                toggleRepeat() {
                    if (this.repeat) {
                        if (this.repeatSong) {
                            this.repeatSong = false
                            this.repeat = false
                        }
                        else {
                            this.repeatSong = true
                        }
                    }
                    else {
                        this.repeat = true
                    }
                },
                md() {
                    this.userTimeInputInProgress = true
                },

                mu() {
                    this.audio.currentTime = this.currentTrack.durationRaw * this.userInput / 1000
                    this.userTimeInputInProgress = false
                },

                handleClick(track) {
                    this.play(track)
                },

                updateTotalPages(total) {
                    this.totalPages = total;
                    this.history = []
                },

                refreshList: async function () {
                    this.list = await this.setList(this.search, this.random, this.offset)
                    if (this.list.length && !this.playing) {
                        this.play(this.list[0])
                        this.audio.pause()
                        this.playing = false
                    }
                },

                toggleShuffle() {
                    this.shuffle = !this.shuffle;
                    this.history = []
                },

                toggleFocus() {
                    this.isFocused = !this.isFocused;
                },

                currentlyPlaying(track) {
                    return track.file == this.currentTrack.file ? 'green--text' : ''
                },

                loadList: function (query, random, offset) {
                    this.lastQuery = query.split(" ");

                    let request;
                    if (offset !== 0) {
                        request = new Request("browse.json?p=" + offset);
                    } else {
                        request = new Request(random ? "random.json" : "tracks.json?q=" + query);
                    }

                    return fetch(request)
                        .then((response) => {
                            return response.blob();
                        })
                        .then((blob) => {
                            return blob.text();
                        });
                },

                scan: async function () {
                    if (!this.scanning) {
                        this.scanning = true

                        let request = new Request('/scan?start=true')
                        return fetch(request)
                            .then((response) => {
                                this.scanning = false
                                return response.blob();
                            })
                            .then((blob) => {
                                return blob.text()
                            }).then(((status) => {
                                this.refreshList()
                            }))
                    }
                },

                setList: async function (query, random, offset) {
                    const l = await this.loadList(
                        query,
                        random,
                        offset
                    );
                    let pl = JSON.parse(l);

                    this.numberOfTracks = pl.length;

                    if (!random && this.lastQuery.length) {
                        const art = this.lastQuery[0];
                        const tra = this.lastQuery[this.lastQuery.length - 1];

                        const rules = [
                            { r: new RegExp("^" + art + "$", "i"), pa: 40, pt: 35 },
                            { r: new RegExp("^" + tra + "$", "i"), pa: 35, pt: 40 },
                            { r: new RegExp("^" + art, "i"), pa: 30, pt: 25 },
                            { r: new RegExp("^" + tra, "i"), pa: 25, pt: 30 },
                            { r: new RegExp(art + "$", "i"), pa: 20, pt: 15 },
                            { r: new RegExp(tra + "$", "i"), pa: 15, pt: 20 },
                            { r: new RegExp(art, "i"), pa: 10, pt: 5 },
                            { r: new RegExp(tra, "i"), pa: 5, pt: 10 },
                        ];

                        if (offset === 0) {
                            pl.forEach((e) => {
                                let minutes = Math.floor(e.duration / 60)
                                let seconds = Math.floor(e.duration % 60) >= 10 ? Math.floor(e.duration % 60) : "0" + Math.floor(e.duration % 60)
                                e.durationRaw = e.duration
                                e.duration = minutes + ":" + seconds
                                e.score = 0;
                                rules.forEach((r) => {
                                    if (e.title && e.title.match(r.r)) {
                                        e.score += r.pt;
                                    }
                                    if (e.artistName && e.artistName.match(r.r)) {
                                        e.score += r.pa;
                                    }
                                    if (e.codec && e.codec === "FLAC") {
                                        e.score += 100;
                                    }
                                });
                            });
                            pl.sort((a, b) => b.score - a.score);
                        }
                    }
                    return pl
                },
                togglePlay() {
                    if (this.playing) {
                        this.playing = false;
                        this.audio.pause();
                    } else {
                        this.playing = true;
                        this.audio.play();
                    }
                },
                toggleSound() {
                    if (this.volume) {
                        this.volumeCache = this.volume
                        this.volume = 0
                    }
                    else {
                        this.volume = this.volumeCache
                    }
                },
                stopAuto() {
                    this.cpl = -1;
                    this.audio.src = "";
                },
                playNext() {
                    if (this.repeatSong) {
                        this.audio.src = ""
                        this.play(this.currentTrack)
                        return
                    }

                    if (this.queue.length != 0) {
                        this.play(this.queue[0])
                        this.queue.shift()
                        this.tracksInQueue--
                        return
                    }

                    if (this.currentTrack != this.history[0]) {
                        this.history.unshift({
                            track: this.currentTrack,
                            page: this.page
                        })
                    }
                    if (this.shuffle) {
                        this.page = Math.floor(Math.random() * this.totalPages)
                        let s = this
                        setTimeout(function () {
                            let next = s.currentList[Math.floor(Math.random() * s.currentList.length)]
                            s.play(next)
                        }, 1);
                    }
                    else {
                        let currentIndex = this.currentTrack ? this.currentList.indexOf(this.currentTrack) : 0
                        if (currentIndex == this.currentList.length - 1) {
                            if (this.page != this.totalPages) {
                                this.page++;
                                let s = this
                                setTimeout(function () {

                                    s.play(s.currentList[0])
                                }, 1);
                            }
                            else if (this.repeat) {

                                this.page = 1;
                                let s = this
                                setTimeout(function () {

                                    s.play(s.currentList[0])
                                }, 1);
                            }
                        }
                        else {
                            this.play(this.currentList[currentIndex + 1])
                        }
                    }
                },
                playPrevious() {
                    if (this.currentList.length) {

                        let currentIndex = this.currentTrack ? this.currentList.indexOf(this.currentTrack) : 0


                        if (this.shuffle) {
                            if (this.history.length) {
                                this.page = this.history[0].page
                                this.play(this.history[0].track)
                                this.history.shift()
                            }
                        }
                        else {
                            if (currentIndex == 0) {
                                if (this.page != 1) {
                                    this.page--

                                    let s = this
                                    setTimeout(function () {

                                        s.play(s.currentList[s.currentList.length - 1])
                                    }, 1);
                                }
                            }
                            else {
                                console.log(this.currentList, this.currentList[currentIndex - 1])
                                if(currentIndex >= 0 ){
                                    this.play(this.currentList[currentIndex - 1])
                                }
                            }
                        }
                    }
                },
                play(track) {
                    if (track != this.currentTrack || this.repeatSong) {
                        this.audio.pause();
                        this.audio.src = track.file;
                        this.audio.load();
                        this.audio.play();
                        this.playing = true;
                        this.currentTrack = track
                    }
                },
                updateTime() {
                    if (!this.userTimeInputInProgress) {
                        this.time = this.audio.currentTime
                    }
                },
                updateCurrentList(items) {
                    this.currentList = items
                },
                updatePage(newPage) {
                    this.page = newPage
                },
            },
            watch: {
                search: async function () {
                    this.refreshList()
                },
                volume: function () {
                    this.audio.volume = this.volume / 100
                },
                time: function () {
                }
            },
            computed: {
                currentTime() {
                    let minutes = Math.floor(this.time / 60)
                    let seconds = Math.floor(this.time % 60) >= 10 ? Math.floor(this.time % 60) : "0" + Math.floor(this.time % 60)
                    return minutes + ":" + seconds
                },
                progress: {
                    get: function () {
                        if (!this.userTimeInputInProgress) {
                            return this.time / this.currentTrack.durationRaw * 1000
                        }
                        else {
                            return this.userInput
                        }
                    },
                    set: function (newValue) {
                        if (this.userTimeInputInProgress && newValue != 0 && newValue != 1000) {
                            this.time = this.currentTrack.durationRaw * newValue / 1000
                            this.userInput = newValue
                        }
                    }


                }
            },
            mounted() {
                this.scan()
                this.refreshList()
                this.audio.addEventListener("ended", this.playNext);
                this.audio.addEventListener("timeupdate", this.updateTime);
            }
        })
    </script>
</body>


</html>